/* calendar CSS */

table.calendar {width: auto; border: 1px solid #cccccc; border-collapse: collapse; margin: 0px; padding: 0px; background-color: #ffffff;}
table.calendar th {background-color: #eeeeee; text-transform: none; color: #444444; padding: 4px; text-align: center; border: 1px solid #eeeeee;}

table.calendar th.cell-prev {text-align: left;}
table.calendar th.cell-next {text-align: right;}
table.calendar th.cell-header {width: 70px; border-bottom: 1px solid #cccccc;}
table.calendar td.cell-today {background-color: #e2e8f6;} /* today in the current month */
table.calendar td.cell-weekend {background-color: #F3F5EB;}
table.calendar td {border: 1px solid #eaeaea;}

table.calendar td div.cell-number {text-align: right; font-size: 14px; color: #CCCCCC; display: block;}
table.calendar td div {display: block; font-size: 18px; text-align: left; color:#FFFFFF}
table.calendar thead th {border: 1px solid #cccccc;}
table.calendar td.arrival-ontime {background-color: #3fa330;}
table.calendar td.arrival-late {background-color: #e74e03;}
table.calendar td.absence {background-color: #aa0004;}


ul#selector {
    background:#fff; border: 1px solid #dadada;
    list-style:none;
    margin:0;
}
ul#selector li a{
    display:block;
    padding: 4px;
    border-bottom: 1px solid #dadada;
    color:#333;
}
ul#selector li a:hover {
    background: #eeeeee;
    color:#606060;
}

ul#selector li a.selected {
    background:#b6defc;
}
